
html, body {
  /*height: 100%;*/
}

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #555;
  background-image: linear-gradient(white, #FFDD66);
  font-size: 14px;
  line-height: 1.6em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  text-align: center;
}

p, div {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

header, section, footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  padding: 10px;
}

#accueil {
}

section.main {
  padding: 0px 10px 10px;
}

/* Sticky footer */

.page {
    position:relative;
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}

footer, .push {
  height: 60px;
  margin: 0;
  clear: both;
  position: relative;
  bottom: -60px;
}

#header {
    position: absolute;
    height: 180px;
    width:100%;
    background-image: url('/img/header.jpg');
    background-size: cover;
    z-index: 4;
}

#accueil {
    position:relative;
    top:0;
    padding-top: 180px;
    z-index: 2;
}

#header.affix {
    position: fixed;
    top: -120px;
}

#header h1 {
    font-size: 300%;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
}
#header h1 a:link {
    text-decoration: none;
    color: white;
}
#header h1 a:visited {
    text-decoration: none;
    color: white;
}
#header h2 {
    font-size: 120%;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
    margin: 0;
    padding-bottom: 3px;
}
#header h2 a:link {
    text-decoration: none;
    color: white;
}
#header h2 a:visited {
    text-decoration: none;
    color: white;
}

/* Navigation buttons */
nav {
   margin:0;
   padding:0;
   height:70px;
   
}
nav ul {
  padding: 0;
  display: inline-block;
}

#nav li {
  display: inline-block;
  margin: .4em .15em;
}

nav a {
    padding: 6;
}

#nav i {
    padding-right: 6px;
}

/*
#nav li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  padding: 0 0 .3em;
  padding: .3em .6em .4em;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#nav li a:hover {
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

#nav li.current a, #nav li.current a:hover {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  border-bottom-color: #000000;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.5);
  background: #FFDD66;
  background: -webkit-linear-gradient(#FFDD66,#FFFFAA);
  background: -moz-linear-gradient(#FFDD66,#FFFFAA);
  background: -o-linear-gradient(#FFDD66,#FFFFAA);
  background: -ms-linear-gradient(#FFDD66,#FFFFAA);
  background: round-gradient(#FFDD22,#FFFFAA);
}
    */
.login {
    position:absolute;
    margin: auto;
    left:50%;
  width: 300px;
}

/* login overlay */
#login {
  position: absolute;
  margin: auto;
  left: -50%;
  width: 300px;
  background-color: #fff;
  padding: 35px;
}

#login input {
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;  
}

.login .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* file upload */
#fileupload {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.fileinput-button {
    position:relative;
    overflow: hidden;
}

.file-img {
    width: 70%;
    margin-left: auto;
}
