<!-- ... Ember.js and other javascript dependencies ... -->
<script type="text/javascript" src="{{ site.url }}/js/libs/handlebars.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/libs/ember.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/libs/ember-data.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/libs/ember.oauth2.min.js"></script>
<script src="js/application.js"></script>
<script src="js/router.js"></script>
<script src="js/login.js"></script>

