    <script type="text/x-handlebars" data-template-name="login">
        <div class="login">
            {% raw %}
            {{#login-dialog action="close"}}
                <div class="login-header">
                  {{#if loginFailed}}
                    <div class="alert">Nom d'utilisateur ou mot de passe invalide.</div>
                  {{/if}}

                  {{#if isSlowConnection}}
                    <div class="alert alert-info">La requête prends plus de temps que d'ordinaire. Merci de patienter.</div>
                    {{/if}}
                </div>

                <form class="form-horizontal" {{action "login" on="submit"}}>
                  <div class="form-group control-group">
                    <div class="form-label control-label">
                      <label>Login</label>
                    </div>

                    <div class="controls">
                      {{view Ember.TextField id='identification' value=username type="text"}}
                    </div>
                  </div>

                  <div class="form-group control-group">
                    <div class="form-label control-label">
                      <label>Mot de passe</label>
                    </div>

                    <div class="controls">
                      {{view Ember.TextField id='password' value=password type="password"}}
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary" {{bind-attr disabled="isProcessing"}}>Log in!</button>
              </form>
          {{/login-dialog}}
          {% endraw %}
        </div>
    </script>

    <script type="text/x-handlebars" id="components/login-dialog">
        <div class="overlay">
        </div>
        <section id="login" class="main">
            {% raw %}
                {{yield}}
            {% endraw %}
        </section>
    </script>

