{% raw %}
<script type="text/x-handlebars" data-template-name="users">
    <div class="users" >
        <div class="container" >
            <h2 class="content">Gestion des utilisateurs</h2>
            <nav>
            <ul class="nav navbar-nav"">
                <li class="btn btn-default navbar-btn" {{action list}}>Lister</li>
                <li class="btn btn-default navbar-btn" {{action add}}>Ajouter</li>
            </ul>
            </nav>
            <div class="container-fluid">
            {{#if list}}
                <table class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Courriel</th>
                        <th>Admin</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {{#each users}}
                        {{#if id}}
                    <tr>
                        <td>{{fullname}}</td>
                        <td>{{email}}</td>
                        <td>{{admin}}</td>
                        <td><i class="btn fa fa-edit" {{action edit id}}></i></td>
                        <td><i class="btn fa fa-times" {{action delete id}}></i></td>
                    </tr>
                        {{/if}}
                    {{/each}}
                </table>
            {{/if}}
            {{#if edit}}
                <form class="userForm" role="form">
                    <div class="form-group">
                        <label for="username">Login</label>
                        {{view Ember.TextField class="form-control" value=model.username type="text"}}
                    </div>
                    <div class="form-group">
                        <label for="fullname">Prenom & Nom</label>
                        {{view Ember.TextField class="form-control" value=model.fullname type="text"}}
                    </div>
                    <div class="form-group">
                        <label for="email">Adresse courriel</label>
                        {{view Ember.TextField class="form-control" value=model.email type="email"}}
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        {{view Ember.TextField class="form-control" value=model.password type="password"}}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" {{action submit}}>Valider</button>
                    </div>
                </form>
            {{/if}}
            </div>
        </div>
    </div>
</script>
{% endraw %}
