{% raw %}
<script type="text/x-handlebars" data-template-name="components/users-list">
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Courriel</th>
            <th>Admin</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{#each users}}
            {{#if id}}
        <tr>
            <td>{{fullname}}</td>
            <td>{{email}}</td>
            <td>{{admin}}</td>
            <td><i class="btn fa fa-edit" {{action edit id}}></i></td>
            <td><i class="btn fa fa-times" {{action delete id}}></i></td>
        </tr>
            {{/if}}
        {{/each}}
    </table>
</script>
<script type="text/x-handlebars" data-template-name="components/users-edit">
    <form role="form">
        <div class="form-group">
            <label for="username">Login</label>
            {{view Ember.TextField class="form-control" value=username type="text"}}
        </div>
        <div class="form-group">
            <label for="fullname">Prenom & Nom</label>
            {{view Ember.TextField class="form-control" value=fullname type="text"}}
        </div>
        <div class="form-group">
            <label for="email">Adresse courriel</label>
            {{view Ember.TextField class="form-control" value=email type="email"}}
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            {{view Ember.TextField class="form-control" value=password type="password"}}
        </div>
    </form>
</script>
<script type="text/x-handlebars" data-template-name="users">
    <div class="users" >
        <div class="container" >
            <h2 class="content">Gestion des utilisateurs</h2>
            <nav>
            <ul class="nav navbar-nav"">
                <li class="btn btn-default navbar-btn" {{action list}}>Lister</li>
                <li class="btn btn-default navbar-btn" {{action add}}>Ajouter</li>
            </ul>
            </nav>
            <div class="container-fluid">
            {{#if list}}
                {{users-list users=users edit=edit delete=delete}}
            {{/if}}
            {{#if edit}}
                {{users-edit model=model}}
            {{/if}}
            </div>
        </div>
    </div>
</script>
{% endraw %}
