{% include top.html %}
<body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>
  <script type="text/x-handlebars" data-template-name="application">
      {% raw %}
      {{outlet header}}
  <div class="page">
      {{outlet}}
      {{outlet schedule}}
      {{outlet users}}
      {% endraw %}
    <div class="push"></div>
  </div>
  {% include footer.html %}
  </script>
    {{ content }}
  {% include login.html %}
  {% include header.html %}
  {% include file.html %}
  {% include users.html %}
  {% include schedule.html %}
  {% include bottom.html %}
</body>
</html>
